<!DOCTYPE html>
<style>
    span {
        width: 30%;
        float: left;
    }

    textarea {
        width: 50%;
    }

    input {
        width: 50%;
    }

    select {
        width: 50%;
    }
</style>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{l('config_editor')}}</title>
</head>
<body style="background-color: #000000" text="#fffffff">
    <h3>
        <a href="/">{{l('web_back')}}</a>
    </h3>
    {% for message in flash_messages %}
        <p style="color: #57ff33">{{message}}</p>
    {% endfor %}
    <form action="" method="post">
        {% for key_,tags in commands_tags.items() %}
            {% set keys = key_.replace("'","").replace("[","").split("]") %}
            {% set key = keys[0] %}
            {% set value = data[key] %}
            {% set nest = len(keys) - 1 %}

            {% if nest == 1 %}
                {% if dict in tags %}
                    <h2>{{key}}</h2>
                {% else %}
                    <div>
                        <span>{{'&nbsp;'|safe*((nest - 1)*4)}}{{key}}</span>
                        {% if can_be_multiple in tags %}
                            {% if str in tags %}
                                <textarea name="['{{key}}']" rows="3">{{"\n".join(value.split(","))}}</textarea>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}

        <button type="submit">{{l('web_save')}}</button>
    </form>
</body>
</html>