<!DOCTYPE html>
<html style="background-image: url('/images/background.png'); background-color: #36393F; background-size: cover; width: 100%; height: 100%;  font-size: 2vmin;">
<style>
    button {
        background-color: #B9BBBE;
        color: #40444B;
        font-size: 2vmin;
        width: 20vmin;
    }

    a:link, a:visited, a:hover, a:active {
        color: #DDDDDD
    }

    body {
        font-family: "Whitney", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "Osaka", "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>{{l('main_page')}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<script>
    function update() {
        const request = new XMLHttpRequest();
        var text = ""
        request.open("GET", "./text", true);
        request.responseType = 'json';
        request.send("");
        request.onreadystatechange = function() {
            if (this.readyState == 4) {
                data = this.response
                console.log(data)
                document.getElementById("text_area").innerHTML = data["text"];
            } 
        }
    }
    update();
    setInterval('update()',5000);
</script>
<body style="color: #DDDDDD">
    <p>
        {% if authenticated %}
            {% if data['web']['login_required'] == True %}
                <p style="color: #57FF33">{{l('web_logged')}}</p>
                <p>
                    <a href="/logout" style="color: #FF0000">{{l('web_logout')}}</a>
                </p>
            {% endif %}
            <p>
                <a href="/config_editor">{{l('config_editor')}}</a>
            </p>
            <p>
                <a href="/commands_editor">{{l('commands_editor')}}</a>
            </p>
            <p>
                <a href="/replies_editor">{{l('replies_editor')}}</a>
            </p>
            <p>
                <a href="/party_viewer">{{l('party_viewer')}}</a>
            </p>
            <p>
                <a href="/boot_switch">{{l('boot_switch')}}</a>
            </p>
            <form action="" method="post">
                <button type="submit" method="post">{{l('restart')}}</button>
            </form>
        {% else %}
            <p style="color: #FF0000">{{l('web_not_logged')}}</p>
            <p>
                <a href="/login">{{l('web_login')}}</a>
            </p>
        {% endif %}
        <div id="text_area"></div>
    </p>
</body>
</html>
