<!DOCTYPE html>
<html style="background-image: url('/images/background.png'); background-color: #36393F; background-size: cover; width: 100%; height: 100%; font-size: 2vmin;">
<style>
    a:link, a:visited, a:hover, a:active {
        color: #DDDDDD;
    }

    body {
        font-family: "Whitney", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "Osaka", "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>{{l('party_viewer')}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body style="color: #DDDDDD">
    <h3>
        <a href="/">{{l('web_back')}}</a>
    </h3>
    {% for count,client in enumerate(clients) %}
        {% if not client.isready %}
            {% set add = "" %}
        {% else %}
            {% set add = "({0} / {1})".format(client.user.display_name,client.user.id) %}
        {% endif %}
        <p>
            <a href="/clients{{count}}">{{"{0}{1}{2}".format(l('bot'),count+1,add)}}</a>
        </p>
    {% endfor %}
</body>
</html>