<!DOCTYPE html>
<html style="background-image: url('/images/background.png'); background-color: #36393F; background-size: cover; width: 100%; height: 100%; font-size: 1.9vmin;">
<meta charset="UTF-8">
<style>
    span {
        width: 30vmin;
        float: left;
    }

    input {
        background-color: #40444B;
        color: #DDDDDD;
        width: 30vmin;
        box-sizing: border-box;
    }

    button {
        background-color: #B9BBBE;
        color: #40444B;
    }

    .save_button {
        width: 30vmin;
        font-size: 1.9vmin;
    }

    .pm_button {
        width: 25px;
    }

    a:link, a:visited, a:hover, a:active {
        color: #DDDDDD;
    }

    body {
        font-family: "Whitney", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "Osaka", "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>{{l('replies_editor')}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<script>

    function add(t) {
        var num = 0;
        var element = "";
        while (element != null) {
            element = document.getElementById("trigger" + String(num));
            num++;
        }
        num--;

        var node = t.parentNode.cloneNode(true);
        node.childNodes[1].setAttribute("id","trigger" + String(num));
        node.childNodes[1].setAttribute("name","trigger" + String(num));
        node.childNodes[1].removeAttribute("value");
        node.childNodes[1].value = ""
        node.childNodes[3].setAttribute("id","content" + String(num));
        node.childNodes[3].setAttribute("name","content" + String(num));
        node.childNodes[3].removeAttribute("value","");
        node.childNodes[3].value = ""
        t.parentNode.parentNode.insertBefore(node, t.parentNode.nextSibling);
        element = document.getElementById("number");
        element.setAttribute("value",Number(element.value) + 1)
    }
    function remove(t) {
        var target = t.parentNode
        if (target.parentNode.childElementCount > 3) {
            target.parentNode.removeChild(target)
        }
    } 
    function add_() {
        var form = document.getElementById("form")
        text += '<input type="text" id="trigger0" name="trigger0" placeholder="{{l("trigger")}}">'
        text += '&rarr;'
        text += '<input type="text" id="content0" name="content0" placeholder="{{l("text")}}">'
        form.innerHTML = text
        
    }
</script>
<body style="color: #DDDDDD">
    <h3>
        <a href="/">{{l('web_back')}}</a>
    </h3>
    {% for message in flash_messages %}
        <p style="color: #57FF33">{{message}}</p>
    {% endfor %}
    {% for message in flash_messages_red %}
        <p style="color: #FF0000">{{message}}</p>
    {% endfor %}
    <form action="" method="post" id="form">
        {% set number = 0 %}
        {% if len(data) == 0 %}
            <div>
                <input type="text" id="trigger0" name="trigger0" placeholder="{{l('trigger')}}">
                &rarr;
                <input type="text" id="content0" name="content0" placeholder="{{l('text')}}">
                <button type="button" onclick="add(this)" class="pm_button">+</button>
                <button type="button" onclick="remove(this)" class="pm_button">-</button>
            </div>
        {% else %}
            {% for num,items in enumerate(data.items()) %}
                {% set key = items[0] %}
                {% set value = items[1] %}
                <div>
                    <input type="text" id="trigger{{num}}" name="trigger{{num}}" placeholder="{{l('trigger')}}" value="{{key.replace('\n','\\n')}}">
                    &rarr;
                    <input type="text" id="content{{num}}" name="content{{num}}" placeholder="{{l('text')}}" value="{{value.replace('\n','\\n')}}">
                    <button type="button" onclick="add(this)" class="pm_button">+</button>
                    <button type="button" onclick="remove(this)" class="pm_button">-</button>
                </div>
            {% endfor %}
        {% endif %}
        <input type="submit" name="save" value="{{l('web_save')}}" class="save_button">
        &nbsp;&nbsp;&nbsp;
        <input type="submit" name="reload" value="{{l('web_save_reload')}}" class="save_button">
    </form>
    <script>
        var form = document.getElementById("form");
        var element = document.createElement("input");
        element.setAttribute("type","hidden");
        element.setAttribute("id","number");
        element.setAttribute("name","number");
        element.setAttribute("value",String(form.childElementCount - 2))
        form.insertBefore(element, form.parentElement.nextSibling);
    </script>
</body>
</html>